@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
@using WeatherWebApp.Managers

@{
    var user =  Request.GetOwinContext().GetUserManager<AppUserManager>().FindById(User.Identity.GetUserId());
}

<div class="jumbotron">
    Logs
    <li class="list-group-item">
        @foreach (var log in user.Logs)
        {
            <div class="row">
                <div class="col-md-3">
                    <h3>@log.CityName</h3>
                </div>
                <div class="col-md-3">
                    <h3>@log.Date</h3>
                </div>
            </div>
        }
       <div class="row">
            <button type="button" class="btn btn-default btn-block" onclick="location.href = '@Url.Action("ShowUserCities", "Cities")'">
                Back
            </button>
        </div>
    </li>
</div>
